# Real Estate Listings on ReMax and Walk Score

In [3]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import time
from splinter import Browser
from sqlalchemy import create_engine
import warnings
warnings.filterwarnings('ignore')
print('Libraries imported!')

Libraries imported!

# Vancouver

In [5]:
house_address = []
house_details = []

base_url = 'https://www.remax.ca/bc/vancouver-real-estate?page='
urls = [base_url + str(x) for x in range(1,301)]

for url in urls:
    # Parse HTML with Beautiful Soup
    time.sleep(5)
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    try:
        addresses = soup.find_all('div', class_='left-content flex-one')
        for address in addresses:
            house_address.append(address.text)
    except:
        house_address.append(np.nan)
        
    try:
        details = soup.find_all('div', class_='property-details')
        for detail in details:
            house_details.append(detail.text)
    except:
        house_details.append(np.nan)

In [6]:
address_df = pd.DataFrame(house_address)

new_df = address_df[0].str.split(' ', 2, expand=True)
new_df["price"] = new_df[1].str.replace("$", "")
new_df["price"] = new_df["price"].str.replace(",", "")
new_df["price"] = pd.to_numeric(new_df["price"])

del new_df[0]
del new_df[1]
new_df.head()

                                                   2    price
0        201 - 2036 W 10 AVE, Vancouver, BC, V6J 2B3   949900
1   1310 - 1333 GEORGIA ST W, Vancouver, BC, V6E 4V3   520000
2        2210 - 1480 HOWE ST, Vancouver, BC, V6Z 0G5   739000
3      1918 - 1618 QUEBEC ST, Vancouver, BC, V6A 0C5   768000
4  310 - 2707 LIBRARY LANE, North Vancouver, BC, ...  1199000

In [7]:
final_df = new_df[2].str.split(', Vancouver, BC, ', expand=True)
final_df.head()

                                                   0        1
0                                201 - 2036 W 10 AVE  V6J 2B3
1                           1310 - 1333 GEORGIA ST W  V6E 4V3
2                                2210 - 1480 HOWE ST  V6Z 0G5
3                              1918 - 1618 QUEBEC ST  V6A 0C5
4  310 - 2707 LIBRARY LANE, North Vancouver, BC, ...     None

In [8]:
df_add = pd.concat([new_df, final_df], axis=1)
del df_add[2]
df_add.columns = ["price", "address", "postal_code"]
df_add.head()

     price                                            address postal_code
0   949900                                201 - 2036 W 10 AVE     V6J 2B3
1   520000                           1310 - 1333 GEORGIA ST W     V6E 4V3
2   739000                                2210 - 1480 HOWE ST     V6Z 0G5
3   768000                              1918 - 1618 QUEBEC ST     V6A 0C5
4  1199000  310 - 2707 LIBRARY LANE, North Vancouver, BC, ...        None

In [9]:
details = pd.DataFrame(house_details)

details_df = details[0].str.split('|', expand=True)

del details_df[2]

details_df.columns = ["bedrooms", "bath", "property_type"]
details_df.head()

  bedrooms    bath property_type
0    2 bed  2 bath         condo
1    0 bed  1 bath         condo
2    1 bed  1 bath         condo
3    1 bed  1 bath         condo
4    3 bed  2 bath         condo

In [10]:
details = pd.DataFrame(house_details)

details_df_temp = details[0].str.split('|', expand=True)

details_df_temp.head()

       0       1          2      3
0  2 bed  2 bath   878 sqft  condo
1  0 bed  1 bath   420 sqft  condo
2  1 bed  1 bath   482 sqft  condo
3  1 bed  1 bath   643 sqft  condo
4  3 bed  2 bath  1121 sqft  condo

In [11]:
details_df_bed = details_df_temp[0].str.replace(' bed', '')
details_df_bath = details_df_temp[1].str.replace(' bath', '')
details_df_area = details_df_temp[2].str.replace(' sqft', '')

In [12]:
details_df_bath_all = details_df_bath.str.split('+', expand=True)
details_df_bath_full = details_df_bath_all[0]
details_df_bath_half = details_df_bath_all[1]

In [13]:
details_df_bed = details_df_bed.replace('N/A', np.nan)
details_df_bed = pd.to_numeric(details_df_bed)
details_df_area = details_df_area.replace('N/A', np.nan)
details_df_area = pd.to_numeric(details_df_area)
details_df_bath_full = details_df_bath_full.replace('N/A', np.nan)
details_df_bath_full = pd.to_numeric(details_df_bath_full)
details_df_bath_half = details_df_bath_half.replace('N/A', np.nan)
details_df_bath_half = pd.to_numeric(details_df_bath_half)

In [14]:
data = {'bed':details_df_bed, 'full_bath':details_df_bath_full, 'half_bath':details_df_bath_half,
       'property_area':details_df_area, 'property_type':details_df_temp[3]}

In [15]:
details_df = pd.DataFrame(data)
details_df.head()

   bed  full_bath  half_bath  property_area property_type
0  2.0        2.0        NaN          878.0         condo
1  0.0        1.0        NaN          420.0         condo
2  1.0        1.0        NaN          482.0         condo
3  1.0        1.0        NaN          643.0         condo
4  3.0        2.0        NaN         1121.0         condo

In [16]:
vancouver_df_dup = pd.concat([df_add, details_df], axis=1)
vancouver_df = vancouver_df_dup.drop_duplicates()
vancouver_df.head()

,price,address,postal_code,bed,full_bath,half_bath,property_area,property_type
0,949900,201 - 2036 W 10 AVE,V6J 2B3,2.0,2.0,NaN,878.0,condo
1,520000,1310 - 1333 GEORGIA ST W,V6E 4V3,0.0,1.0,NaN,420.0,condo
2,739000,2210 - 1480 HOWE ST,V6Z 0G5,1.0,1.0,NaN,482.0,condo
3,768000,1918 - 1618 QUEBEC ST,V6A 0C5,1.0,1.0,NaN,643.0,condo
4,1199000,"310 - 2707 LIBRARY LANE, North Vancouver, BC, ...",None,3.0,2.0,NaN,1121.0,condo

In [17]:
vancouver_df.to_csv('vancouver_df.csv', index=False)

----------------

### Walk Score

In [18]:
vancouver_df = pd.read_csv('vancouver_df.csv')
vancouver_df.head()

,price,address,postal_code,bed,full_bath,half_bath,property_area,property_type
0,949900,201 - 2036 W 10 AVE,V6J 2B3,2.0,2.0,NaN,878.0,condo
1,520000,1310 - 1333 GEORGIA ST W,V6E 4V3,0.0,1.0,NaN,420.0,condo
2,739000,2210 - 1480 HOWE ST,V6Z 0G5,1.0,1.0,NaN,482.0,condo
3,768000,1918 - 1618 QUEBEC ST,V6A 0C5,1.0,1.0,NaN,643.0,condo
4,1199000,"310 - 2707 LIBRARY LANE, North Vancouver, BC, ...",NaN,3.0,2.0,NaN,1121.0,condo

In [19]:
post_code_list = []

for i in vancouver_df["postal_code"]:
    post_code_list.append(i)

In [20]:
scores_walk = []
scores_bike = []
scores_transit = []

for i in post_code_list:

    try:
        postal_code = i.replace(" ", "%20")
        url_score = "https://www.walkscore.com/score/" + str(postal_code)
        time.sleep(5)

        # Parse HTML with Beautiful Soup
        response = requests.get(url_score)
        code_soup = BeautifulSoup(response.text, 'html.parser')

        if 'pp.walk.sc/badge/walk/score' in str(code_soup):
            ws = str(code_soup).split('pp.walk.sc/badge/walk/score/')[1][:2].replace('.','')
            scores_walk.append(ws)
        else:
            ws = 'N/A'
            scores_walk.append(ws)
        if 'pp.walk.sc/badge/bike/score' in str(code_soup):
            bs = str(code_soup).split('pp.walk.sc/badge/bike/score/')[1][:2].replace('.','')
            scores_bike.append(bs)
        else:
            bs = 'N/A'
            scores_bike.append(bs)
        if 'pp.walk.sc/badge/transit/score' in str(code_soup):
            ts = str(code_soup).split('pp.walk.sc/badge/transit/score/')[1][:2].replace('.','')
            scores_transit.append(ts)
        else:
            ts = 'N/A'
            scores_transit.append(ts)
    except:
        ws = 'N/A'
        scores_walk.append(ws)
        bs = 'N/A'
        scores_bike.append(bs)
        ts = 'N/A'
        scores_transit.append(ts)

In [21]:
score_df_trans = {'postal_code':post_code_list, 
                  'walk_score':scores_walk, 
                  'bike_score':scores_bike, 
                  'transit_score':scores_transit}
score_df_dup = pd.DataFrame(score_df_trans)
score_df = score_df_dup.drop_duplicates()
score_df.head()

  postal_code walk_score bike_score transit_score
0     V6J 2B3         93         98            76
1     V6E 4V3         93         59            10
2     V6Z 0G5         90         84            94
3     V6A 0C5         90         93            10
4         NaN        N/A        N/A           N/A

In [23]:
score_df.to_csv('score_df_van.csv', index=False)

-------------------

# PostgreSQL

In [24]:
vancouver_df = pd.read_csv('vancouver_df.csv')
score_df = pd.read_csv('score_df.csv')

In [28]:
rds_connection_string = "postgres:123@localhost:5432/realestate_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

vancouver_df.to_sql(name= "vancouver", con=engine, if_exists="replace", index=False)
score_df.to_sql(name= "score", con=engine, if_exists="append", index=False)

# MongoDB

In [29]:
import pymongo
from pymongo import MongoClient

conn = 'mongodb://localhost:27017'
# Making a Connection with MongoClient
client = MongoClient(conn)
# database
db = client.realestate_db

collection = db.vancouver
vancouver_dict = vancouver_df.to_dict("records")
collection.insert_many(vancouver_dict)

collection = db.score
score_dict = score_df.to_dict("records")
collection.insert_many(score_dict)

# MySQL

In [33]:

engine = create_engine(f'mysql+pymysql://root:Myp@sswordis123@localhost/realestate_db', pool_recycle=3600)
vancouver_df.to_sql(name="vancouver", con=engine, if_exists="replace", index=False)
score_df.to_sql(name="score", con=engine, if_exists="append", index=False)

# SQL Server

In [ ]:
import urllib
import pyodbc


quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=DAYOTHOMPSON;DATABASE=realestate_db")
engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))
cal_df.to_sql('calgary', schema='dbo', con = engine, chunksize=200, method='multi', index=False, if_exists='replace')
score_df.to_sql('score', schema='dbo', con = engine, chunksize=200, method='multi', index=False, if_exists='append')